
* {
    box-sizing: border-box;
    caret-color: transparent;
    color: white;
    font-family: 'Open Sans';
}

body {
    margin: 0;
}

header {
    background: #B01E4A;
    height: 60px;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}